/boot1.html
/boot2.html
/boot3_tabel.html
/boot4_img.html
/boot5_form.html
/boot6_float.html
/boot6_grid.html
/boot7_card&nav.html
/boot8_carosel.html
/caro1.jpeg
/caro2.jpg
/caro3.jpg
/EdgarAllanPoe.jpg
/mirror.jpg
/mov 5.jpg
/mov1.jpg
/mov2.jpg
/mov3.jpg
/mov4.jpg
/mov6.jpg
/RET21CSBS065_Tessa_Soji (2).jpeg
/task1_boot.html
/task2_boot.html
/task3_boot.html
/task4_boot.html
/tez-pic.jpeg
/tsk1.jpg